<!--Originally written by Henry, modified by Jada-->
{% load static %} <!--Loads static files (/static/css, etc.) into the HTML file-->

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <h1 style="text-align: center;">Login</h1>
    <script src="server.js"></script>
    <form method="post"> <!--Modified by Jada-->
        {% csrf_token %} <!--Django generates token for secure access (POST) to database-->
        {{ form }} <!--Imports account registration form-->
        <!--<h2 style="text-align: center">Username</h2>
        <div class="container">
            <input type="text" placeholder="Enter Username" name="uname" required>
        </div>

        <h2 style="text-align: center">Password</h2>
        <div class="container">
        <input type="password" placeholder="Enter Password" name="psw" required>
        </div>-->

        <div class="container">
                <button type="submit" style="font-size: 20px">Login</button>
        </div>
    </form>

    <a href="/account/register">Create a new Account</a>
</body>
</html>
